/target

# TypeScript build artifacts and dependencies
/typescript/dist/
/typescript/node_modules/
/typescript/package-lock.json

# Acceptance test artifacts
/acceptance/golang/inventory/
/acceptance/typescript/inventory/
/acceptance/typescript/node_modules/
/acceptance/typescript/package-lock.json
/acceptance/golang/go.sum
/acceptance/performance/target/
/acceptance/performance/Cargo.lock
/acceptance/minimum/target/
/acceptance/minimum/Cargo.lock
/acceptance/content/target/
/acceptance/content/Cargo.lock
